@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #3c92fa;
    --cor-de-fundo: #00030C;
    --fonte-principal: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin:0 6rem;
}

.container__titulo {
    color: var(--branco-principal);
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1rem 0 3rem 0;
}

.container__botao {
    background-color: var(--botao-azul);
    padding: 1rem;
    border-radius: 8px;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin: auto;
    max-width: 512px;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    margin: 1rem auto .62rem auto;
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 0.75rem;
}

.secundario {
    align-items: center;
    margin: 0 10rem;
}

.secundario__imagem {
    width: 80%;
    padding: 0 1rem;
}

.descricao__titulo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: .5rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.container__descricao {
    padding: 1rem;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--branco-principal);
    margin-top: 5rem;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 2.5rem 0 9rem 0;
    gap: 4.25rem;
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5rem 3rem;
}

.rodape__logo {
    margin-bottom: 2.5rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    margin-bottom: 1.5rem;
}

.lista__link a{
    color: var(--branco-principal);
    text-decoration: none;
    font-size: 1rem;
}

.rodape__texto {
    color: var(--cinza-secundario);
    font-size: .8rem;
    margin: 1rem 0;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}